@import "tailwindcss";


@theme {
    --font-sans: 'Inter', sans-serif;
    --color-toniqueLight: #EEE0C5;
    --fs-base-700: 16px;
    --fs-2xl-600: 24px;
    --fs-sm-600: 14px;
    --fs-3xl-600: 30px;
}